@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#app {
  height: 100%;
}

.blur-background {
  backdrop-filter: blur(8px);
}

.carousel {
  position: relative;
  width: 620px;
  height: 465px;
}

.carousel_nav {
  position: absolute;
  bottom: -32px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.carousel_indicator {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #fff;
}

.carousel_indicator.current-slide {
  background: #6ee7b7;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  z-index: 50;
  left: -32px;
}

.next {
  z-index: 50;
  right: -32px;
}
